{% extends 'base.html.twig' %}

{% block title %}Materiel index{% endblock %}

{% block body %}
    <h1>Materiel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>NumeroSerie</th>
                <th>Marque</th>
                <th>TypeMateriel</th>
                
               {# <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>CreatedBy</th>
                <th>UpdatedBy</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for materiel in materiels %}
            <tr>
                <td>{{ materiel.id }}</td>
                <td>{{ materiel.libelle }}</td>
                <td>{{ materiel.numeroSerie }}</td>
                <td>{{ materiel.marque }}</td>
                <td>{{ materiel.typeMateriel }}</td>
                
                {#<td>{{ materiel.createdAt ? materiel.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ materiel.updatedAt ? materiel.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ materiel.createdBy }}</td>
                <td>{{ materiel.updatedBy }}</td>#}
                <td>
                    <a href="{{ path('admin_materiel_show', {'id': materiel.id}) }}">show</a>
                    <a href="{{ path('admin_materiel_edit', {'id': materiel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_materiel_new') }}">Create new</a>
{% endblock %}
