{% extends 'base.html.twig' %}

{% block title %}Technicien index{% endblock %}

{% block body %}
    <h1>Technicien index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cni</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Specialite</th>
                <th>Niveau</th>
                <th>Disponibilite</th>
                <th>Actif</th>
               {#} <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for technicien in techniciens %}
            <tr>
                <td>{{ technicien.id }}</td>
                <td>{{ technicien.cni }}</td>
                <td>{{ technicien.nom }}</td>
                <td>{{ technicien.prenom }}</td>
                <td>{{ technicien.telephone }}</td>
                <td>{{ technicien.email }}</td>
                <td>{{ technicien.adresse }}</td>
                <td>{{ technicien.specialite }}</td>
                <td>{{ technicien.niveau }}</td>
                <td>{{ technicien.disponibilite ? 'Yes' : 'No' }}</td>
                <td>{{ technicien.actif ? 'Yes' : 'No' }}</td>
                {#<td>{{ technicien.createdAt ? technicien.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ technicien.updatedAt ? technicien.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ technicien.deletedAt ? technicien.deletedAt|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>
                    <a href="{{ path('admin_technicien_show', {'id': technicien.id}) }}">show</a>
                    <a href="{{ path('admin_technicien_edit', {'id': technicien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_technicien_new') }}">Create new</a>
{% endblock %}
