{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
    <h1>Entreprise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entreprise.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entreprise.nom }}</td>
            </tr>
            <tr>
                <th>Ninea</th>
                <td>{{ entreprise.ninea }}</td>
            </tr>
            <tr>
                <th>RaisonSociale</th>
                <td>{{ entreprise.raisonSociale }}</td>
            </tr>
            <tr>
                <th>Fixe</th>
                <td>{{ entreprise.fixe }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ entreprise.mobile }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entreprise.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entreprise.adresse }}</td>
            </tr>
            <tr>
                <th>TypeEntreprise</th>
                <td>{{ entreprise.typeEntreprise }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ entreprise.disponibilite ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ entreprise.actif ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ entreprise.createdAt ? entreprise.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ entreprise.updatedAt ? entreprise.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ entreprise.createdBy }}</td>
            </tr>
            <tr>
                <th>UpdatedBy</th>
                <td>{{ entreprise.updatedBy }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_entreprise_index') }}">back to list</a>

    <a href="{{ path('admin_entreprise_edit', {'id': entreprise.id}) }}">edit</a>

    {{ include('admin/entreprise/_delete_form.html.twig') }}
{% endblock %}
