{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
    <h1>Intervention index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebut</th>
                <th>Description</th>
                <th>Resultat</th>
                <th>ModePayment</th>
                <th>ModeTransaction</th>
                <th>Montant</th>
                <th>TypeIntervention</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>CreatedBy</th>
                <th>UpdatedBy</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.id }}</td>
                <td>{{ intervention.dateDebut ? intervention.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ intervention.description }}</td>
                <td>{{ intervention.resultat }}</td>
                <td>{{ intervention.modePayment }}</td>
                <td>{{ intervention.modeTransaction }}</td>
                <td>{{ intervention.montant }}</td>
                <td>{{ intervention.typeIntervention }}</td>
                <td>{{ intervention.createdAt ? intervention.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ intervention.updatedAt ? intervention.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ intervention.createdBy }}</td>
                <td>{{ intervention.updatedBy }}</td>
                <td>
                    <a href="{{ path('admin_intervention_show', {'id': intervention.id}) }}">show</a>
                    <a href="{{ path('admin_intervention_edit', {'id': intervention.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_intervention_new') }}">Create new</a>
{% endblock %}
